<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gabinete Psicológico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyles.css') }}">
</head>
<body>
    <header class="container-fluid bg-light">
        <div class="row">
            <div class="col-md-6">
                <h1>Gabinete Psicológico</h1>
            </div>
            <div class="col-md-6 text-right">
                <nav class="navbar navbar-expand-sm">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="container mt-5">
        <section class="login">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="login-logos">
                        <img src="logo_ambar.png" alt="Logo de Ambar" class="img-fluid">
                    </div>
                    <p class="login-slogan">El comienzo está contigo</p> <h2>Acceso al Gabinete Psicológico</h2> <form action="/login" method="post">
                        <div class="form-group">
                            <label for="correo">Correo electrónico:</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                        <a href="#" class="login-olvido">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>
            </div>
        </section>
    </main>
    
    
    <footer class="container-fluid bg-dark text-white mt-5">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Gabinete Psicológico</p>
            </div>
            <div class="col-md-6 text-right">
                <p>Redes sociales: </p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4
